cssselect 1.2.0
Kivy 2.1.0
kivymd 1.1.1
matplotlib 3.6.2
numpy==1.23.5
pandas 1.5.2
pandas-datareader 0.10.0
parse 1.19.0
passlib 1.7.4
SQLAlchemy 1.4.44
yahoo-fin 0.8.9.1
yfinance 0.1.87

Install Process: using pip install follow by library needed to be install
